@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background:
    linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, #fff 300px),
    fixed 0 0 /20px 20px radial-gradient(#d1d1d1 1px, transparent 0),
    fixed 10px 10px /20px 20px radial-gradient(#d1d1d1 1px, transparent 0);
}

.dark body {
  background:
    linear-gradient(180deg, transparent 0, #111 300px),
    fixed 0 0 /20px 20px radial-gradient(#313131 1px, transparent 0),
    fixed 10px 10px /20px 20px radial-gradient(#313131 1px, transparent 0);
}

.headline {
  display: inline-flex;
  font-feature-settings: initial;
  background-image: linear-gradient(146deg, #000, #757a7d);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.dark .headline {
  background-image: linear-gradient(146deg, #fff, #757a7d);
}
